.popup__button {
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border: 0;
  color: white;
  font-size: 30px;
  display: block;
  cursor: pointer;
  width: 360px;
  height: 64px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  transition: 0.3s linear;
}

.popup__button:hover {
  background: #347EFF;
}

.popup__button-disable {
  background: #E6E8EB;
  color: grey;
}

@media screen and (max-width: 400px) {
  .popup__button {
    width: 288px;
  }
}