.results__auth {
  position: absolute;
  background: #FFFFFF;
  top: 24px;
  right: 69px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  box-shadow: 0 10px 22px rgba(59,74,116,.1);
  border-radius: 10px;
  border: none;
  padding: 14px 13px 13px;
  margin-right: 5px;
}

.results__auth-closed {
  display: none;
}

.results__buttons {
  display: block;
}

.results__buttons:hover .results__auth-closed {
  display: block;
}