.header__profile-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 112px;
  height: 48px;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  margin-top: 4%;
  cursor: pointer;
}

.header__profile-button-span {
  font-family: 'inter';
}

.header__profile-button-black {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  width: 112px;
  height: 48px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}