.articles__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  width: 40%;
}


@media screen and (max-width: 800px) {
  .articles__subtitle {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .articles__subtitle {
    width: 90%;
  }
}
