.results__grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-top: 64px;
}

@media screen and (max-width: 1235px) {
  .results__grid {
    grid-template-columns: repeat(3, 350px);
  }
}

@media screen and (max-width: 1100px) {
  .results__grid {
    grid-template-columns: repeat(3, 300px);
  }
}

@media screen and (max-width: 950px) {
  .results__grid {
    grid-template-columns: repeat(3, 240px);
  }
}

@media screen and (max-width: 768px) {
  .results__grid {
    grid-template-columns: repeat(3, 224px);
  }
}

@media screen and (max-width: 708px) {
  .results__grid {
    grid-template-columns: repeat(2, 224px);
  }
}

@media screen and (max-width: 470px) {
  .results__grid {
    grid-template-columns: repeat(1, 288px);
  }
}