.finder__search {
  height: 64px;
  background: #FFFFFF;
  border: 0;
  box-sizing: border-box;
  border-radius: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .finder__search {
    height: 58px;
  }
}

@media screen and (max-width: 480px) {
  .finder__search {
    justify-content: none;
    flex-direction: column;
    height: 120px;
    box-sizing: none;
    border-radius: 0;
    background: none;
    margin-top: 0;
  }
}


@media screen and (max-width: 400px) {
  .finder__search {
    justify-content: none;
    flex-direction: column;
    height: 128px;
    box-sizing: none;
    border-radius: 0;
    background: none;
    margin-top: 50px;
  }
}

.finder__search-input {
  font-size: 14px;
  line-height: 17px;
  border: 0;
  margin-left: 24px;
  background: none;
  outline: none;
  opacity: 0.4;
  margin-top: 22px;
  transition: 0.2s linear;
}

.finder__search-input:focus {
  opacity: 1;
}


@media screen and (max-width: 768px) {
  .finder__search-input {
    margin-top: 20px;
  }
}

@media screen and (max-width: 410px) {
  .finder__search-input {
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .finder__search-input {
    height: 56px;
    font-size: 16px;
    line-height: 22px;
  }
}

.finder__search-input-mobile {
  float: right;
}

@media screen and (max-width: 480px) {
  .finder__search-input-mobile {
    height: 56px;
    background: #FFFFFF;
    border: 0;
    box-sizing: border-box;
    border-radius: 100px;
    opacity: 1;
    width: 288px;
  }
}

@media screen and (max-width: 400px) {
  .finder__search-input-mobile {
    height: 56px;
    background: #FFFFFF;
    border: 0;
    box-sizing: border-box;
    border-radius: 100px;
    opacity: 1;
  }
}