.finder__button {
  background: #2F71E5;
  border: 0;
  border-radius: 100px;
  width: 168px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: 0.3s linear;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .finder__button {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 480px) {
  .finder__button {
    height: 56px;
    width: 288px;
    font-size: 18px;
    line-height: 24px;
  }
}


.finder__button:hover {
  background: #347EFF;
}