@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);
@import url(./blocks/header/header.css);
@import url(./blocks/finder/finder.css);
@import url(./blocks/author/author.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/results/results.css);
@import url(./blocks/preloader/preloader.css);
@import url(./blocks/not-found/not-found.css);
@import url(./blocks/articles/articles.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/colors/black.css);
@import url(./blocks/page/page.css);


.header__no-auth-page {
  display: none;
}

.header__auth-page {

}


.results {

}

.preloader {
  display: none;
}

.not-found {
  display: none;
}