@import url(./__container/not-found__container.css);
@import url(./__text/not-found__text.css);
@import url(./__title/not-found__title.css);
@import url(./__image/not-found__image.css);

.not-found {
  height: 374px;
  justify-content: center;
}